* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #141414;
    min-height: 100vh;
}

header {
    background: #191919;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

h1 {
    color: #e50914;
}

main {
    color: #e5e5e5;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar {
    font-size: 20px;
}

#search-btn {
    background: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 4px;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: rgb(180,180,180,.9);
}

#search-btn:active {
    background-color: rgb(180,180,180,.4);
}

.media-wrapper {
    padding: 100px 0;
}

.media-search {
    display: block;
}

.media-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    background: #141414;
    border: 2px solid black;
    font-size: 15px;
    width: 342px;
    height: 513px;
    padding: 15px;
    line-height: 30px;
    overflow-y: auto;
}

.card-wrapper {
    margin: 15px;
    transition: .5s;
    position: relative;
}

.card-wrapper:hover {
    transform: scale(1.1);
    z-index: 5;
}

.flag {
    width: 55px;
}

.fa-star {
    color: #ffbd00;
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: .5s;
}

.poster:hover {
    opacity: 0;
    transform: scale(1);
}
.poster.hide {
    display: none;
}

