* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(315deg, rgb(2,0,36) 0%, rgb(50,75,80) 40%, rgb(0,212,255) 100%);
    min-height: 100vh;
}

header {
    background: rgb(2,0,27);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

header p {
    color: cornsilk;
}

#search-btn {
    background: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: rgb(180,180,180,.9);
}

#search-btn:active {
    background-color: rgb(180,180,180,.4);
}